<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <%- head %>
    <link rel="stylesheet" href="/css/crypto.css" />
</head>
  <body>
    <div id="react-container">
      <%- body %>
    </div>
    <%- initState %>
    <%- initData %>
  </body>
  <%- foot %>
</html>
