<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <%- head %>
    <link rel="stylesheet" href="/css/prettier.css" />
    <link rel="stylesheet" href="/css/prettier.css" />

</head>
  <body>
    <div id="react-container">
      <%- body %>
    </div>
    <%- initState %>
    <%- initData %>
  </body>
  <script src="/js/prettier.js"></script>
  <%- foot %>
  <script src="/js/prettierPage.js"></script>
</html>
